* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  transition: all .8s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: #191929;
}
.container {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: #191929;
  position: relative;
}
.container_content {
 width: 50%;
}
.container_content_inner {
  width: 80%;
  margin-left: 80px;
}
.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}
.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}
.par {
  height: auto;
  overflow: hidden;
}
p{
  line-height: 28px;
  transform: translateY(-300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}
body {
  padding-top: 5rem;
}
.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 20px;
  cursor: pointer;
}
.title {
  overflow: hidden;
  height: auto;
}
h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}
h2 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
